{% extends 'index.html' %}
{% block content %}
<div class="jumbotron">
<div class="container">
<h2>Coming soon...Come back for update!!!</h2></div>
</div>



<!--<div class="container">
      <div class="row">
        <div class="col-md-offset-4">
            <form method="POST" action="">
                <label style="display:inline-block;width:150px;">Extra Working Date</label>
                 <input style="width:200px;" name="sdate" placeholder="Extra Working Date" type="date"
                       value="{{ request.form.exdate }}" required>
                <br><br>
                <input type="submit" value="Submit">
            </form>
            {% if error %}
			<p class="error" style="color:red;"><strong>Error:</strong> {{ error }}
			{% endif %}
            {% if message %}
			<p class="error" style="color:green;"><strong>Message:</strong> {{ message }}
			{% endif %}

        </div>
      </div>
</div> !-->
{% endblock %}