{% from "_render_field.html" import render_field,render_radio_fields %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>Our Form</h1>
    <form method="POST" action="{{ url_for('form') }}">
        {{ form.csrf_token }}
        {{ render_field(form.email,placeholder=form.email.label.text) }}
        {{ render_field(form.password,placeholder=form.password.label.text) }}
        {{ render_field(form.textarea) }}
        {{ render_radio_fields(form.radios) }}
        {{ render_field(form.selects) }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>