{% extends 'index1.html' %}
{% block content %}

<div class="jumbotron">
      <div class="container">
        <h2>Please Login!!</h2>
      </div>
    </div>
<div class="container">
      <div class="row">
        <div class="col-md-4">
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            {{ form.username.label }}
            {{ form.username}}
            <ul>
                {% for error in form.username.errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
            </ul>
            {{ form.password.label}}
            {{ form.password }}
            <ul>
                {% for error in form.password.errors %}
                    <li style="color:red;">{{ error }}</li>
                {% endfor %}
                {% if error %}
                    <li style="color:red;">{{ error }}</li>
                {% endif %}
            </ul>
            {{ form.recaptcha }}
            <br>
            <input type="submit" value="Submit">

        </form>
        </div>
    </div>
</div>
{% endblock %}