{% extends 'index.html' %}
{% block content %}
        <div class="jumbotron">
          <div class="container">
            <h1>Welcome!! {{ name }}</h1>
            </div>
        </div>
          <!-- Example row of columns -->
        <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>About</h2>
          <h4><p>You can track your leave detail, balance leaves you have and cancel a leave if you have some at a
            single place.</p></h4>
        </div>
      </div>
    </div>

{% endblock %}